<%= week_calendar(number_of_weeks: 1, events: @meal_reports) do |date, meal_reports| %>
  <%= date %>
  <% meal_reports.each do |meal_report| %>
    <div>
      <% meal_report.meals.each do |meal| %> 
        <%= meal.meal_type %>
      <% end %>
    </div>
  <% end %>
<% end %>